<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        body {
            padding-bottom: 120px;
        }
    </style>
</head>
<body>
<div
        class="audioigniter-root"
        data-player-type="full"
        data-tracks-url="/dev-tracks.json"
        data-display-active-cover="true"
        data-display-tracklist-covers="true"
        data-display-credits="true"
        data-display-tracklist="true"
        data-allow-tracklist-toggle="true"
        data-allow-tracklist-loop="true"
        data-allow-track-loop="true"
        data-allow-playback-rate="true"
        data-display-track-no="true"
        data-display-artist-names="true"
        data-display-buy-buttons="true"
        data-buy-buttons-target="true"
        data-volume="50"
        data-cycle-tracks="true"
        data-limit-tracklist-height="true"
        data-tracklist-height="185"
        data-reverse-track-order="false"
        data-skip-amount="15"
        data-max-width="600px"
        data-initial-track="1"
        data-stop-on-finish="false"
        data-tracks-delay="5"
        data-timer-countdown="false"
        data-shuffle="false"
        data-soundcloud-client-id=""
></div>

<div
        class="audioigniter-root"
        data-player-type="simple"
        data-tracks-url="/dev-tracks.json"
        data-display-credits="true"
        data-display-track-no="true"
        data-allow-playback-rate="true"
        data-display-artist-names="true"
        data-display-buy-buttons="true"
        data-buy-buttons-target="true"
        data-allow-track-loop="true"
        data-volume="50"
        data-reverse-track-order="false"
        data-max-width="600px"
        data-initial-track="3"
        data-stop-on-finish="false"
        data-tracks-delay="0"
        data-timer-countdown="false"
        data-shuffle="true"
        data-soundcloud-client-id=""
></div>

<div
        class="audioigniter-root"
        data-player-type="global-footer"
        data-tracks-url="/dev-tracks.json"
        data-display-active-cover="true"
        data-display-tracklist-covers="true"
        data-display-credits="true"
        data-display-tracklist="false"
        data-allow-tracklist-toggle="true"
        data-allow-tracklist-loop="true"
        data-allow-track-loop="true"
        data-display-track-no="true"
        data-allow-playback-rate="true"
        data-display-artist-names="true"
        data-display-buy-buttons="true"
        data-buy-buttons-target="true"
        data-volume="50"
        data-skip-amount="15"
        data-cycle-tracks="false"
        data-limit-tracklist-height="true"
        data-tracklist-height="185"
        data-reverse-track-order="false"
        data-max-width="600px"
        data-initial-track="1"
        data-stop-on-finish="false"
        data-tracks-delay="0"
        data-timer-countdown="true"
        data-shuffle="true"
        data-soundcloud-client-id=""
></div>
</body>
</html>
